/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */

body {
  background-color: black;
  color: white;
  font-family: inter; 
}

main{
  margin-left: 15%;
  margin-right: 15%;
}

.nav-grid{
  display: flex;
  justify-content: space-between;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: solid;
  border-width: 0.001rem;
  border-color: gray;
  
}

.logo{
  width: 5rem;
}

.burger{
  width: 2rem;
}

.blackfriday{
  margin-top: 2rem;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
    text-shadow:
      0 0 1px #fff,
      0 0 4px #fff,
      0 0 19px #fff,
      0 0 40px rgb(255, 0, 247),
      0 0 82px rgb(255, 0, 247),
      0 0 100px rgb(255, 0, 247);
  
}

.gamehub-platform{
  text-align: center;
  justify-content: center;
  padding-bottom: 1rem;


   
}

.gamehub-platform p {
  width: 68%;
  margin: 0 auto;
  margin-bottom: 2rem;
  border-top: solid;
  padding-top: 1rem;
  border-width: 0.001rem;
  border-color: rgb(255, 156, 189);
}

.browse {
  display: block;
  text-align: center;
  margin-top: 1rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  

  background-color: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 18px;
  border: solid;
  border-radius: 25px;
  border-width: 0.0001rem;
}

.sell {

  background-color: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: solid;
  border-radius: 25px;
  border-width: 0.0001rem;
}

.line{
  margin-top: 7%;
  border: none;
  border-top: 1px solid;
  width: 70%;
  border-color: rgb(255, 156, 189);
}

.grayline{
  margin-top: 7%;
  border: none;
  border-top: 1px solid;
  width: 55%;
  border-color: rgb(172, 172, 172);
}


.new-text{
  margin-bottom: 3rem;
  width: 85%;
  text-align: center;
  font-weight: 700;
}

.new-games{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.games{
  align-items: center;
  justify-content: center;
  text-align: center;
}

.game-display{
  width: 70%;
  height: 70%;
}


.title{
  display: inline-block;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 20px;
}

.price{
  display: inline-block;
  margin-bottom: 0;
  font-size: 20px;
}

.discount{
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 35px;
  color: red;
}

.trending-header{
  text-align: center;
}


.card-info{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 150px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 40px;
  }

.trending-row{
  width: 100%;
  height: 2rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.red{
  color: red;
}

.game-image{
  width: 100%;
  height: auto;
}



.trending-before{
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.trending-after{
  font-weight: bold;
}

.more-games{
  margin-top: 4rem;
  text-align: center;
  font-size: 1.5rem;
}

.more-plus{
  width: 2rem;
  margin-top: 1rem;
}

.footer-logo{
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 40%;
  width: 5rem;
}

/*about*/

.grayline-about{
  margin-top: 7%;
  border: none;
  border-top: 1px solid;
  width: 100%;
  border-color: rgb(172, 172, 172);
}

.backbutton{
  margin-top: 25px;
  width: 1.2rem;
}

.aboutus h1{
  font-size: 1.5rem;
}

.gamehub-about{
  font-size: large;
  text-align: center;
  color: white;
  line-height: 2rem;
}

.grayline-about-footer{
  margin-top: 7%;
  border: none;
  border-top: 1px solid;
  width: 70%;
  border-color: rgb(172, 172, 172);
}

.about-image{
  display: inline-block;
  width: 65%;
  margin-left: 18%;
  border-radius: 3rem;
}

.about-text{
  text-align:left;
  margin-left: 20px;
  font-size: 14px;
  line-height: 1.3rem;
  margin-bottom: 3rem;
  margin-top: 2.5rem;
}


/*contact*/

.gamehub-contact{
  text-align: center;
}


.faq-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 2px solid;
  border-radius: 20px;
  width: auto;
  background-color: white;
  color: black;
}

.down-arrow{
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #000000;
}

.faq{
  font-family: inter;
  font-weight: bold;
}

.moreq{
  margin-top: 25px;
  font-size: 1rem;
  text-align: center;
}

::placeholder {
  color: black;
}

.email{
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 2.3rem;
  width: 16.5rem;

}

.message-wrapper {
  height: 10rem;
  width: 16.5rem;
  position: relative;
}

.message {
  width: 100%; 
  height: 100%;
  padding: 5px;
  resize: none;         
  font-family: inherit;  
  font-size: inherit;    
  color: inherit; 
}

.message::placeholder { 
  color: black;
  opacity: 1;
  /*want to make this black.
  it's a default gray but i'd
  like to make it clearer.*/ 
}

.send {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: black;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 2px;
}

.send:hover{
  cursor: pointer;
}

.phone{
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  margin-top: 2rem;
}

.phone-icon{
  width: 1.5rem;
  height: 1.5rem;
}

@media only screen and (min-width: 768px) {
 
  .phone-icon{
    width: 2.5rem;
    height: 2.5rem;
  }

  

}