/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */

body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: inter; 
}

@media(min-width: 1000px) {
  .header{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    padding: 10px;
    border-bottom: solid;
    border-width: 0.1px;
    border-color: white;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
    justify-content: space-between;
  }
  
  .logo {
    width: 100%;
    max-width: 70px;
    display: inline-block;
    float: left;
    margin-top: 35px;
  }
  
  .nav{
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
  }
  
  
  .nav li{
    margin-right: 20px;
    display: inline-block;
  }
  
  .nav a {
    text-decoration: none;
    color: white;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 150px;
    padding-top: 5.5px;
    padding-bottom: 5.5px;
    border-radius: 20px;
    color: black;
    background-color: white;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
    
  }
  
  .search-bar input[type=text] {
    border: none;
    flex-grow: 3;
    outline: none;
    }
  
  .user-section{
    display:flex;
    margin-top: 20px;
  }
  
  .login, .shopping-cart{
    margin-left: 20px;
  }
  
  .login{
    margin-top: 30px;
    margin-right: 10px;
  }
  
  .shopping-cart{
    margin-top: 30px;
    margin-right: 10px;
  }
  
  .container-intro {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .blackfriday {
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
    color: #ffffff;
    text-shadow:
      0 0 1px #fff,
      0 0 4px #fff,
      0 0 19px #fff,
      0 0 40px rgb(255, 0, 247),
      0 0 75px rgb(255, 0, 247),
      0 0 82px rgb(255, 0, 247),
      0 0 95px rgb(255, 0, 247),
      0 0 100px rgb(255, 0, 247);
  }
  
  .intro{
    width: 600px;
    text-align: center;
    margin-top: 250px;
    margin: auto;
    font-weight:300;
    font-style: italic;
    padding-top: 20px;
    border-top: solid;
    border-width: 0.4px;
    border-color: rgb(137, 5, 108);

  
  }

  .browsell{
    width: 600px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: solid;
    border-width: 0.4px;
    border-color: rgb(137, 5, 108);
    padding-bottom: 30px;
  }
  
  .browse, .sell {
    
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    color: white;
    background-color: black;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    border: solid;
    border-color: white;
    border-width: 2px;
    cursor: pointer;
  }

  .new{
    margin-top: 100px;
    margin-left: 150px;
    width: 800px;
  }

  .new-games{
    margin-left: 150px;
  }
  
  .boxer{
    width: 100%;
    max-width: 600px;
    margin-top: 50px;
  }

  .game-title{
      font-weight: bold;
  }

  .price-main{
    display: inline-block;
  }
}

@media(max-width: 500px) {

  .header{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    padding: 10px;
    border-bottom: solid;
    border-width: 0.1px;
    border-color: white;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
    justify-content: space-between;
  }


  .logo{
    width: 100%;
    max-width: 70px;
    display: inline-block;
    float: middle;
  }

  .main{
    margin-left: 150px;
    margin-right: 150px;
  }

  
}

